In [4]:
s="ravi"
s

'ravi'

In [2]:
l=[1,2.5,5+3j,"ravi",s]

In [3]:
l

[1, 2.5, (5+3j), 'ravi', 'ravi']

In [6]:
f=2.5
f

2.5

In [7]:
t=(1,2.5,'ravi')
t

(1, 2.5, 'ravi')

In [8]:
type(t)

tuple

In [9]:
var1=''
type(var1)

str

In [10]:
var2='[DS,ML,Python]'
type(var2)

str

In [12]:
var3=['DS','ML','Python']
type(var3)

list

In [13]:
var4=1
type(var4)

int

In [14]:
# '/' Division operator is used for division and returns the quotient after complete division
5/4

1.25

In [15]:
# '%' Modulus Operator returns remainder
5%4

1

In [16]:
# '//' is floor operator which returns the quotient without complete division
5//4

1

In [17]:
# '**' exponent operator does the power of a number by a factor mentioned
2**3

8

In [20]:
ll=[1,2.5,3+4j,'ravi',True,6.6789, False, 7, 'python',555]
for i in ll:
    print(i,type(i))

1 <class 'int'>
2.5 <class 'float'>
(3+4j) <class 'complex'>
ravi <class 'str'>
True <class 'bool'>
6.6789 <class 'float'>
False <class 'bool'>
7 <class 'int'>
python <class 'str'>
555 <class 'int'>

In [23]:
numberA=int(input())
numberB=int(input())
if numberA%numberB==0:
    print("Number of times ",numberA," is divisible by ",numberB," =",numberA/numberB)

 20
 4

Number of times  20  is divisible by  4  = 5.0

In [25]:
for i in range(25):
    if i%3==0:
        print(i," is divisble by 3")
    else:
        print(i," is not divisble by 3")

0  is divisble by 3
1  is not divisble by 3
2  is not divisble by 3
3  is divisble by 3
4  is not divisble by 3
5  is not divisble by 3
6  is divisble by 3
7  is not divisble by 3
8  is not divisble by 3
9  is divisble by 3
10  is not divisble by 3
11  is not divisble by 3
12  is divisble by 3
13  is not divisble by 3
14  is not divisble by 3
15  is divisble by 3
16  is not divisble by 3
17  is not divisble by 3
18  is divisble by 3
19  is not divisble by 3
20  is not divisble by 3
21  is divisble by 3
22  is not divisble by 3
23  is not divisble by 3
24  is divisble by 3

In [30]:
# Mutable data type means whose index value can be changed or replaced. 
# String is an immutable data type 
s='ravi'
s[1]=o
s

NameError: name 'o' is not defined

In [27]:
#Immutable data type means whose index value cannot be changed or replaced.
# List is a mutable data type
l=[1,2.5,'rkt',5+3j]
l[1]=6.7
l

[1, 6.7, 'rkt', (5+3j)]

In [29]:
# Mutable data type means whose index value can be changed or replaced. 
# Tuple is an immutable data type 
t=(1,2.5,'rkt',5+3j)
t[1]=6.7
t

TypeError: 'tuple' object does not support item assignment